<settings>

    <setting propertyKey="@Properties.thresholdMinutes" title="@Strings.ThresholdPaceMinutes" prompt="@Strings.ThresholdPacePrompt">
        <settingConfig type="numeric" errorMessage="@Strings.NumberError" />
    </setting>

     <setting propertyKey="@Properties.thresholdSeconds" title="@Strings.ThresholdPaceSeconds" prompt="@Strings.ThresholdPacePrompt">
        <settingConfig type="numeric" errorMessage="@Strings.NumberError" />
    </setting>
</settings>